<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{if .error}}
    {{.error}}
{{end}}

<form action="/user/change_password" method="post">
    <p><input type="text" placeholder="eski şifre" name="old_password"/></p>
    <p><input type="text" placeholder="şifre" name="new_password"/></p>
    <p><input type="text" placeholder="şifre2" name="new_password2"/></p>
    <button type="submit" value="gönder">gönderrr</button>
</form>
</body>
</html>